.container
  .col-md-10.col-md-offset-1.text-xs-center
    %h1#title Home to the music community
    %h4#subtitle Broadcast your masterpiece, share and comment.
    = link_to 'Get Started!', new_user_registration_path, class: 'btn btn-primary btn-lg home-button'
