.musikore-content
  padding-top: 4em
  padding-bottom: 4em

body.home.index
  @include background-cover('home.jpg')
  @include background-gradient-mask

  #main
    @include background-opacity($gray)
    color: white
    padding: 150px 0
    margin-top: 0px
    margin-bottom: -50px

    h1
      margin-bottom: 30px

    & > .btn
      margin: 30px 10px
