#cover-photo
  background: $black
  width: 1140px
  height: 270px
  color: $white

  #profile-photo
    margin-top: 50px
    margin-left: 40px

  h2.col-sm-6
    margin-top: 145px
    margin-left: 40px
